{View} = require 'atom'

module.exports =
class __PackageName__View extends View
  @content: ->
    @div class: '__package-name__ text-info', "The __PackageName__ plugin is Alive! It's ALIVE!"

  initialize: (@minimapView) ->

  attach: ->
    @minimapView.miniOverlayer.append(this)

  destroy: ->
    @detach()
