// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@font-face {
  font-family: 'Redacted';
  font-weight: normal;
  font-style: normal;
  src: url(atom://minimap/resources/redacted-regular.woff) format('woff');
  unicode-range: U+21-FF;
}

.minimap {
  position: fixed;
  left: inherit;
  right: 0;
  box-sizing: border-box;
  opacity: 0.8;
  width: 150px;
  height: 100%;
  -webkit-transform: scale(1);
  -webkit-transform-origin: right top;

  .editor {
    font-family: Redacted;
    letter-spacing: -1px;
  }

  .minimap-editor {
    width: 100%;
    position: absolute;
  }

  .minimap-overlayer {
    width: 100%;
  }

  /*
  .editor {
    .scroll-view {
    }
  }
  */
}
