// The ui-variables file is provided by base themes provided by Atom.
//

// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@font-face {
  font-family: 'Redacted';
  font-weight: normal;
  font-style: normal;
  src: url(atom://minimap/resources/redacted-regular.woff) format('woff');
  unicode-range: U+21-FF;
}


.minimap {
  position: absolute;
  left: 90%;
  opacity: .77;
  width: 10%;
  bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  .accelerated;

  .minimap-wrapper {
    -webkit-transform-origin: 0 0;
  }

  .minimap-overlayer {
    position: absolute;
    width: 100%;
    background-color: #444;
    opacity: .2;
    .accelerated;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  &:hover .minimap-overlayer {
    opacity: .5;
  }

  .minimap-editor {
    position: absolute;
    -webkit-transform-origin: 0 0
    width: 100%;
    cursor: default;
    .accelerated;
    .scroll-view {
      .accelerated;
    }
  }

  // Themes
  &[data-theme="redacted"] {
    .editor {
      font-family: Redacted !important;
      word-spacing: 2px
    }
  }

  // Mixins
  .accelerated {
    -webkit-backface-visibility: hidden;
    webkit-transform: translateZ(0);
    backface-visibility: hidden;
    transform: translateZ(0);
  }
}
